<!-- Banner Section Start -->
<section class="banner-03" style="background-image: url(assets/images/home3/bg-shape.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content-3">
                    <h2 class="animated">Yapay Zeka ile Profesyonel CV'ni Hazırla!</h2>
                    <p class="animated">
                        CV oluşturmak artık çok kolay! Yapay zeka desteğiyle dakikalar içinde profesyonel ve etkileyici
                        bir özgeçmiş oluştur, kariyerinde bir adım öne geç.
                    </p>
                    <ul class="animated">
                        <li><i class="fas fa-check-circle"></i>
                            %100 Ücretsiz Kullanım
                            <span>Kolayca CV oluştur, indir ve paylaş.</span>
                        </li>
                        <li><i class="fas fa-check-circle"></i>
                            Akıllı ve Kişiselleştirilmiş
                            <span>Deneyimlerine uygun önerilerle CV’ni güçlendir.</span>
                        </li>
                        <li><i class="fas fa-check-circle"></i>
                            Modern ve Şık Tasarımlar
                            <span>Profesyonel şablonlarla etkileyici bir görünüm elde et.</span>
                        </li>
                    </ul>
                    <div class="btn-banner animated">
                        <a class="shapro-btn-3" href="contact.html"><span>Hemen Başla</span></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">
                <div class="layer-thumb animated">
                    <img src="/images/layer.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Client Section Start -->
<section class="client-log-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client-slider owl-carousel">
                    <a href="#"><img src="assets/images/client-logo/1.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/2.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/3.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/4.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/1.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/2.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/3.png" alt=""></a>
                    <a href="#"><img src="assets/images/client-logo/4.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Section End -->


<!-- Service  Section Start -->
<section class="service-section-2" id="ozellikler" style="background-image: url(assets/images/home3/service-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="sub-title sub-color-3">Yapay Zeka İle CV Oluştur</div>
                <h2 class="sec-title">
                    Yapay Zeka ile CV’ni oluştur ve kariyerinize yeni bir boyut kazandır!
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item-1 text-center">
                    <div class="si-icon si-1">
                        <i class="shapro-website"></i>
                    </div>
                    <h4><a>Tamamen Ücretsiz</a></h4>
                    <p>
                        Yapay zeka desteğiyle tamamen ücretsiz olarak CV'nizi oluşturabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-1 text-center">
                    <div class="si-icon">
                        <i class="shapro-startup"></i>
                    </div>
                    <h4><a>Kolay Kullanım</a></h4>
                    <p>
                        Kullanıcı dostu arayüz sayesinde birkaç adımda kolayca CV’nizi oluşturabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-1 text-center">
                    <div class="si-icon si-3">
                        <i class="shapro-analytics"></i>
                    </div>
                    <h4><a href="single-service.html">Gelişmiş Yapay Zeka Desteği</a></h4>
                    <p>
                        CV’nizi daha etkili hale getirmek için yapay zeka tarafından önerilen düzenlemeler ve
                        iyileştirmelerle destek alabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-1 text-center">
                    <div class="si-icon si-4">
                        <i class="shapro-target"></i>
                    </div>
                    <h4><a href="single-service.html">Kariyer Hedeflerinize Uygun</a></h4>
                    <p>
                        CV’nizi kişisel kariyer hedeflerinize ve sektör gereksinimlerine göre özelleştirebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-1 text-center">
                    <div class="si-icon si-5">
                        <i class="shapro-monitoring"></i>
                    </div>
                    <h4><a href="single-service.html">Zaman Kazanın</a></h4>
                    <p>
                        CV oluşturma sürecini hızlandıran yapay zeka, size zaman kazandırarak daha verimli bir deneyim
                        sunar.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-1 text-center">
                    <div class="si-icon si-6">
                        <i class="shapro-website"></i>
                    </div>
                    <h4><a href="single-service.html">Rekabetçi CV’ler</a></h4>
                    <p>
                        İş dünyasında öne çıkmanıza yardımcı olacak güçlü ve dikkat çekici CV’ler oluşturabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="shapro-btn-3" href="contact.html"><span>Başlamak İçin Tıklayın</span></a>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->


<!-- Work Section Start -->
<section class="work-software" id="neden" style="background-image: url(assets/images/home3/work-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feaure-item-5">
                    <i class="shapro-lightbulb"></i>
                    <h4>Kariyerinize Uygun Özelleştirme</h4>
                    <p>Yapay zeka desteği ile CV'niz, tam olarak hedeflediğiniz kariyer alanına uygun şekilde
                        özelleştirilir ve sizi en iyi şekilde temsil eder.</p>
                </div>
                <div class="feaure-item-5">
                    <i class="shapro-award"></i>
                    <h4>Özelleştirilmiş İpuçları ve Tavsiyeler</h4>
                    <p>CV'nizi daha etkili hale getirebilmek için yapay zekanın sağladığı önerilerle, güçlü yönlerinizi
                        vurgulayın ve rekabette öne çıkın.</p>
                </div>
                <div class="feaure-item-5">
                    <i class="shapro-startup-1"></i>
                    <h4>Gelişmiş Analiz ve Raporlama</h4>
                    <p>CV'nizi oluştururken, yapay zeka tarafından sağlanan analizlerle iş dünyasında daha fazla dikkat
                        çekecek veriler elde edin.</p>
                </div>
            </div>
            <div class="col-lg-4 hide-tab">
                <div class="work-thumb">
                    <img src="/images/work.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h2 class="sec-title">
                    Kariyerinizi Bir Adım Öteye Taşıyın
                </h2>
                <p class="sec-desc">
                    Yalnızca bir CV değil, iş dünyasında fark yaratacak, sizi en iyi şekilde temsil edecek güçlü bir
                    dijital kimlik yaratıyoruz. Yapay zeka destekli sistemimiz ile CV'niz, başarıya giden yolda en güçlü
                    adımınız olacak.
                </p>
                <a class="shapro-btn-3" href="contact.html"><span>Hemen Başlayın</span></a>
            </div>
        </div>
    </div>
</section>
<!-- Work Section End -->
